<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.multi0819.facilityreport"><uses-permission android:name="android.permission.INTERNET"/><uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/><uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/><queries><package android:name="com.kakao.talk"/></queries><application android:label="시설 운전보고" android:icon="@drawable/app_icon" android:theme="@style/AppTheme" android:allowBackup="true" android:usesCleartextTraffic="false"><activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity></application></manifest>
